{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
  <div class="container">
    <div class="d-flex">
      <div class="col-6 p-0 d-flex flex-column align-items-center">
        <div class="col-8 my-3 p-3 border border-3 bg-light" style="height:400px; background-image:url({{ store.image.url }}); background-repeat:no-repeat; background-position:center; background-size:contain;"></div>

        <div class="col-8 p-3 border border-3">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="text-decoration-underline me-3">{{store.title}}</h2>
            <div id="icon" data-store-id="{{store.pk}}">
            {% if request.user.is_authenticated %}
              {% if request.user in store.like_user.all %}
                <lord-icon src="https://cdn.lordicon.com/iwaotjbp.json" trigger="morph" style="width:45px;height:45px" id="like-btn" data-store-id="{{store.pk}}"></lord-icon>
              {% else %}
                <lord-icon src="https://cdn.lordicon.com/rjzlnunf.json" trigger="hover" colors="primary:#121331,secondary:#e83a30" style="width:45px;height:45px" id="like-btn" data-store-id="{{store.pk}}"></lord-icon>
              {% endif %}
            {% endif %}
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div>가격</div>
            <div class=" fw-bold">{{store.cost}}원</div>
          </div>
          <p id="like-count">관심
            {{ store.like_user.count }}</p>
          <hr>
          <h3>{{store.content}}</h3>
          <hr>
          <div class="d-flex justify-content-between">
            {% if store.user == request.user %}
              <a class="btn btn-warning m-2 w-100" href="{% url 'store:update' store.pk %}">수정</a>
              <a class="btn btn-danger m-2 w-100" href="{% url 'store:delete' store.pk %}">삭제</a>
            {% else %}
              {% if store.buysell == True %}
                <button type="button" class="btn btn-success w-100">판매</button>
              {% else %}
                <button type="button" class="btn btn-danger w-100">구매</button>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>

      <div class="col-5 p-0 bg-light"></div>
    </div>

    <div class="container my-3 d-flex justify-content-center">
      <div class="col-10">
        <hr>
        <h3>댓글</h3>
        <form id="comment-form" data-store-id="{{ store.pk }}" class="my-3">
          {% csrf_token %}
          <div class="d-flex justify-content-between">
            <div class="form-floating col-10">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="content"></textarea>
              <label for="floatingTextarea">Comments</label>
            </div>
            <button class="btn btn-primary" type="submit">제출</button>
          </div>
        </form>

        <div id="comments">
          {% for comment in comments %}
            <div class="my-2 p-3 bg-light rounded-3">
              <p class="d-flex fw-bold align-items-center">
                {{ comment.user.username }}님
                <a id="delete_btn" class="btn btn-outline-dark mx-2 py-0" href="{% url 'store:comment_delete' store.pk comment.pk %}">삭제</a>
              </p>
              <p class="m-0">
                {{ comment.content }}
              </p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const likeBtn = document.querySelector('#icon')
    likeBtn.addEventListener('click', function (event) {
      axios({method: 'get', url: `/store/${event.target.dataset.storeId}/like/`}).then(response => {

        if (response.data.is_like === true) {
          const oldLordIcon = document.querySelector("#like-btn")
          const newLordIcon = document.createElement("lord-icon")
          newLordIcon.src="https://cdn.lordicon.com/iwaotjbp.json"
          newLordIcon.trigger="morph"
          newLordIcon.style="width:45px;height:45px"
          newLordIcon.id="like-btn"
          newLordIcon.setAttribute('data-store-id', `${event.target.dataset.storeId}`);
          likeBtn.replaceChild(newLordIcon, oldLordIcon)
        } else {
          const oldLordIcon = document.querySelector("#like-btn")
          const newLordIcon = document.createElement("lord-icon")
          newLordIcon.src="https://cdn.lordicon.com/rjzlnunf.json"
          newLordIcon.trigger="morph"
          newLordIcon.colors="primary:#121331,secondary:#e83a30"
          newLordIcon.style="width:45px;height:45px"
          newLordIcon.id="like-btn"
          newLordIcon.setAttribute('data-store-id', `${event.target.dataset.storeId}`);
          likeBtn.replaceChild(newLordIcon, oldLordIcon)
        }
        const likeCount = document.querySelector('#like-count')

        likeCount.innerText = "관심 " + response.data.likeCount
      })
    })
  </script>

  <!-- 댓글 -->
  <script>
    const commentForm = document.querySelector('#comment-form')
    const csrftoken = document
      .querySelector('[name=csrfmiddlewaretoken]')
      .value

      commentForm
      .addEventListener('submit', function () {
        event.preventDefault();
        console.log(event.target.dataset)
        const storeId = event
          .target
          .dataset
          .storeId
          axios({
            method: 'post',
            url: `/store/${storeId}/comment/create/`,
            headers: {
              'X-CSRFToken': csrftoken
            },
            data: new FormData(commentForm)
          })
          .then(response => {
            //댓글 추가 로직
            const comments = document.querySelector('#comments')
            console.log(response.data.comment_pk)
            console.log(storeId)
            // const username = document.createElement('#username')
            // const content = document.createElement('#content')
            // username.innerText = `${response.data.userName}`
            // content.innerText = `${response.data.content}`
            // comments.append(username, content)
            comments.insertAdjacentHTML('beforeend', `
            <div class="my-2 p-3 bg-light rounded-3">
              <p class="d-flex fw-bold align-items-center">
                <span id="username">${response.data.userName}</span>님
                <a class="btn btn-outline-dark mx-2 py-0" href="/store/${storeId}/${response.data.comment_pk}/delete/">삭제</a>
              </p>
              <p class="m-0" id="content">
                ${response.data.content}
              </p>
            </div>
            `)
            commentForm.reset()
          })
          .catch((error) => {
            console.log(error.response)
          })
        })
  </script>
{% endblock body %}
