{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
  <div class="container">
    <div class="d-flex">
      <div class="col-6 p-0 d-flex flex-column align-items-center">
        <div class="col-8 my-3 p-3 border border-3 bg-light">
          <img class="img-fluid" src="{{ store.image.url }}" alt="">
        </div>

        <div class="col-8 p-3 border border-3">
          <h2 class="text-decoration-underline">{{store.title}}</h2>
          <div class="d-flex justify-content-between">
            <div>가격</div>
            <div class="fw-bold">{{store.cost}}원</div>
          </div>
          <hr>
          <h3>{{store.content}}</h3>
          <hr>
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-danger">구매</button>
            <button type="button" class="btn btn-success">판매</button>
          </div>
        </div>
      </div>

      <div class="col-5 p-0 bg-light"></div>
    </div>


    <div class="container my-3 d-flex justify-content-center">
      <div class="col-10">
        <hr>
        <h3>댓글</h3>
        <form class="my-3" action="{% url 'store:comment_create' store.pk %}" method="POST">
          {% csrf_token %}
          <div class="d-flex justify-content-between">
            <div class="form-floating col-10">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="content"></textarea>
              <label for="floatingTextarea">Comments</label>
            </div>
            <button class="btn btn-primary" type="submit">제출</button>
          </div>
        </form>

        {% for comment in comments %}
          <div class="my-2 p-3 bg-light rounded-3">
            <p class="d-flex fw-bold align-items-center">
              {{ comment.user.username }}님
              <a class="btn btn-outline-dark mx-2 py-0" href="{% url 'store:comment_delete' store.pk comment.pk %}">삭제</a>
            </p>
            <p class="m-0">
              {{ comment.content }}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock body %}
