<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
    <title>Document</title>
  </head>

  <!--풀 불 물 번개 에스퍼 격투 악 강철 노말 용 페어리-->

  <body>
    <ul class="menu">
      <div class="toggle">
        <ion-icon name="add-outline"></ion-icon>
      </div>

      <li style="--i:0;--clr:#3DFF92;">
        <a href="#">
          <img src="https://cards.image.pokemonkorea.co.kr/data/images/symbol/type1.png" alt="">
        </a>
      </li>

      <li style="--i:1;--clr:#FF5050;">
        <a href="#">
          <img src="https://cards.image.pokemonkorea.co.kr/data/images/symbol/type2.png" alt="">
        </a>
      </li>

      <li style="--i:2;--clr:#00EBFF;">
        <a href="#">
          <img src="https://cards.image.pokemonkorea.co.kr/data/images/symbol/type3.png" alt="">
        </a>
      </li>

      <li style="--i:3;--clr:#FFEB46;">
        <a href="#">
          <img src="https://cards.image.pokemonkorea.co.kr/data/images/symbol/type4.png" alt="">
        </a>
      </li>

      <li style="--i:4;--clr:#800080;">
        <a href="#">
          <img src="https://cards.image.pokemonkorea.co.kr/data/images/symbol/type5.png" alt="">
        </a>
      </li>

      <li style="--i:5;--clr:#FF8200">
        <a href="#">
          <img src="https://cards.image.pokemonkorea.co.kr/data/images/symbol/type6.png" alt="">
        </a>
      </li>

      <li style="--i:6;--clr:#282828;">
        <a href="#">
          <img src="https://cards.image.pokemonkorea.co.kr/data/images/symbol/type7.png" alt="">
        </a>
      </li>

      <li style="--i:7;--clr:#969696;">
        <a href="#">
          <img src="https://cards.image.pokemonkorea.co.kr/data/images/symbol/type8.png" alt="">
        </a>
      </li>

      <li style="--i:8;--clr:#fff;">
        <a href="#">
          <img src="https://cards.image.pokemonkorea.co.kr/data/images/symbol/type9.png" alt="">
        </a>
      </li>

      <li style="--i:9;--clr:#FAEB78;">
        <a href="#">
          <img src="https://cards.image.pokemonkorea.co.kr/data/images/symbol/type10.png" alt="">
        </a>
      </li>

      <li style="--i:10;--clr:#FF3CBB;">
        <a href="#">
          <img src="https://cards.image.pokemonkorea.co.kr/data/images/symbol/type11.png" alt="">
        </a>
      </li>
    </ul>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="nomodule" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
      let toggle = document.querySelector('.toggle')
      let menu = document.querySelector('.menu')
      toggle.onclick = function () {
        menu
          .classList
          .toggle('active')
      }
    </script>
  </body>

</html>