{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  <!-- Swiper CSS -->
  <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block body %}
  <div class="col-4 m-auto">
    <div class="input-group mb-3 border border-3">
      <input type="text" class="form-control border-0" placeholder="검색" aria-label="Username" aria-describedby="basic-addon1">
      <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="click" colors="primary:#121331,secondary:#08a88a" style="width:32px;height:32px"></lord-icon>
    </div>
  </div>

  <div class="mb-5 container swiper">
    <!-- 구매 -->
    <h2 class="mb-5 fw-bold">구매 목록</h2>
    <div class="slide-container w-100 bg-secondary">
      <div class="swiper-wrapper">
        {% for community in communitys %}
          <div class="m-3 card swiper-slide">
            <div class="image-box position-relative">
              {% if community.image %}
                <img class="img-fluid" src="{{ community.image.url }}" alt="">
              {% endif %}
              <span class="badge m-1 position-absolute bottom-0 end-0">
                <!-- 좋아요 구분해서 넣기-->
                <lord-icon src="https://cdn.lordicon.com/iwaotjbp.json" trigger="morph" style="width:45px;height:45px"></lord-icon>
              </span>
            </div>
            <div class="card-body">
              <p><img class="border border-3 rounded-circle " src="{{ community.user.image.url }}" alt="profile-image">
                <span>{{ community.title }}</span></p>
              <hr>
              <p>{{ community.content }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-button-next swiper-navBtn"></div>
      <div class="swiper-button-prev swiper-navBtn"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <hr>

  <div class="mb-5 container swiper">
    <!-- 판매 -->
    <h2 class="mb-5 fw-bold">판매 목록</h2>
    <div class="slide-container w-100 bg-secondary">
      <div class="swiper-wrapper">
        {% for community in communitys %}
          <div class="m-3 card swiper-slide">
            <div class="image-box position-relative">
              <img class="img-fluid" src="{{ community.image.url }}" alt="">
              <span class="badge m-1 position-absolute bottom-0 end-0">
                <!-- 좋아요 구분해서 넣기-->
                <lord-icon src="https://cdn.lordicon.com/iwaotjbp.json" trigger="morph" style="width:45px;height:45px"></lord-icon>
              </span>
            </div>
            <div class="card-body">
              <p><img class="border border-3 rounded-circle " src="{{ community.user.image.url }}" alt="profile-image">
                <span>{{ community.title }}</span></p>
              <hr>
              <p>{{ community.content }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-button-next swiper-navBtn"></div>
      <div class="swiper-button-prev swiper-navBtn"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
{% endblock body %}