{% extends 'base.html' %}
{% block body %}

  <p style="text-align: center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jrL8W5E8afk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
  </p>
  <p style="text-align: center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pGrriUjXZg8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
  </p>

{% endblock body %}
