{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}
  <title>놀이방법</title>
{% endblock title %}
{% block body %}

  <div>
    <h1 class="text-center pt-5 pb-3">놀이방법</h1>
    <div class="p-3 border border-info border-3 container rounded-4">
      <div class="p-3 text-center">

        <p>
          <span style="font-weight: 700; color: rgb(57, 132, 198); font-size: 25px;">
            <span style="font-size: 36px;">놀이방법 영상</span>
          </span><br>
        </p>

        <p>
          <span class="text-black-50" style="font-size: 18px;">포켓몬 카드 게임의 기본 룰을 알기 쉽게 알려주는</span>
        </p>

        <p>
          <span class="text-black-50" style="font-size: 18px;">「포켓몬 카드 게임 놀이방법 영상」과 함께 포켓몬 카드 게임을 알아보아요!</span><br><br>
        </p>

        <p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/jrL8W5E8afk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
        </p>

        <p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/pGrriUjXZg8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
        </p>

        <p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Zx1CRCdfKdU?list=PL0WzA7ssgo0FHjdm5EWbQlc3iGHpjTmTw" title="[공식] 인비테이셔널 H/L① 이태연vs변성모 l 흑마 버드렉스 VMAX vs 자시안 V & 자마젠타 V l 포켓몬 카드 배틀 l 포켓몬 카드 게임 Pokémon Card Game" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
        </p>

        <p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/XCJ31mkwNEQ?list=PL0WzA7ssgo0FHjdm5EWbQlc3iGHpjTmTw" title="[공식] 인비테이셔널 H/L② 장원석vs민형 l 흑마 버드렉스 VMAX vs 연격 우라오스 VMAX l 포켓몬 카드 배틀 l 포켓몬 카드 게임 Pokémon Card Game" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
        </p>

        <p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/-i1LcCYFQOs?list=PL0WzA7ssgo0FHjdm5EWbQlc3iGHpjTmTw" title="[공식] 인비테이셔널  H/L③ 결승전 l 장원석vs변성모 l 흑마 버드렉스 VMAX vs  아르세우스&디아루가&펄기아 GX  l 포켓몬 카드 게임 Pokémon Card Game" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
        </p>

        <p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Vb2iTFZNshg" title="[공식] 대한민국 vs 홍콩 'Pokémon Battle Festival Asia 2021' 그랜드 파이널 l 포켓몬 카드 게임_Pokémon Card Game" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
        </p>

      </div>
    </div>
  </div>
{% endblock body %}
