/* @keyframes blink-effect {
  50% {
    opacity : 0;
  }
}

body {
  background-image: url(https://i.pinimg.com/564x/10/4b/aa/104baafed87a586f1dfc2f0bc23b3505.jpg);
  background-repeat:no-repeat;
  background-size: contain;
  background-position: center;
}


.box {
  margin-top: 400px;
  margin-bottom: 200px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  z-index: 2;
}

.blink {
  animation: blink-effect 1s step-end infinite;
}


img { 
  transition-duration: 1s;
}
img:hover {
  transform: rotate(360deg);
} */

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: Arial;
  font-size: 17px;
  background-color: #000;
}

.main-box {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bubbles {
  position: relative;
  display: flex;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}

@keyframes animate{
  0% {
    transform: translateY(100vh) scale(0);
  }

  100% {
    transform: translateY(-1vh) scale(1);
  }
}

.content {
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: 3px solid white;
  background: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.container-fluid {
  height: 100vh;
}

.btn {
  width: 200px;
  font-size: 18px;
  color: white;
  border: 3px solid white;
  background: #000;
  color: #fff;
}

.btn:hover {
  background: #ddd;
  color: black;
}