/* html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
} */

/* .swiper-navBtn {
    top:60%;
    color: #000;
    height: 40px;
    width: 40px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(117, 117, 117);
}

.swiper-navBtn::before
.swiper-navBtn::after {
    font-size: 10px !important;
}

.swiper-pagination-bullet {
    background-color: #000;
} */
