* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.menu {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
} 


.menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform-origin: 250px;
    transform: rotate(0deg) translateX(200px);
}

.menu.active li {
  transform: rotate(calc(360deg / 11 * var(--i))) translateX(0px)
}

.menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: var(--clr);
    border: 2px solid var(--clr);
    border-radius: 50%;
    font-size: 1.5em;
    transform: rotate(calc(360deg / -11 * var(--i)));
    transition: 1s;
}

.menu li a:hover {
    transition: 0s;
    background: var(--clr);
    color: #333;
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 50px var(--clr);
}

.menu .toggle {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #2f363e;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10000;
    font-size: 2em;
    transition: transform 1.25s
}

.menu.active .toggle {
    transform: rotate(315deg)
}

img {
    width: 100px;
    height: 100px;
}

.create-btn {
    bottom:-10px;
    right:-120px;    
}
/* html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
} */

/* .swiper-navBtn {
    top:60%;
    color: #000;
    height: 40px;
    width: 40px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(117, 117, 117);
}

.swiper-navBtn::before
.swiper-navBtn::after {
    font-size: 10px !important;
}

.swiper-pagination-bullet {
    background-color: #000;
} */