{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block title %}
  <title>인덱스</title>
{% endblock title %}
{% block css %}
  <!-- Swiper CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block body %}
  <h1>index</h1>
  {% if request.user.is_authenticated %}
    <p>{{ user.username }}</p>
    <form action="{% url 'accounts:logout' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="logout">
    </form>
    <a href="{% url 'accounts:profile' user.pk %}">회원정보</a>

  {% else %}
    <a href="{% url 'accounts:signup' %}">회원가입</a>
    <a href="{% url 'accounts:login' %}">로그인</a>
  {% endif %}
{% endblock body %}
