{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
  <div class="col-12 col-md-10 col-lg-6 col-xl-4 mx-auto mt-5 p-4 bg-danger bg-opacity-50 rounded-2" style="margin-bottom:402px;">
    <h1 class="my-3">로그인</h1>
    <div class="border border-3 p-3 rounded">
      <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-flex justify-content-end">
          <input class="btn btn-primary mx-2" type="submit" value="로그인">
          <a class="btn btn-primary" href="{% url 'accounts:signup'%}">회원가입</a>
        </div>
      </form>
    </div>
  </div>
{% endblock body %}