{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
  <div class="container">
    <h1 class="my-3">UPDATE</h1>
    <div class="border border-3 rounded p-3">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <a class="btn btn-outline-danger" href="{% url 'accounts:change_password' %}">비밀번호 변경</a>
        <input class="btn btn-outline-danger" type="submit" value="정보수정">
      </div>
    </form>
  </div>
{% endblock body %}