<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    {% load static %}
    {% load django_bootstrap5 %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://cdn.lordicon.com/qjzruarw.js"></script>

  </head>

  <body>
    <div class="container d-flex justify-content-center w-100">
      <video autoplay="autoplay" loop="loop" id="myVideo">
        <source src="{% static 'videos/first.mp4' %}" type="video/mp4">
      </video>
    </div>

    <div class="content">
      <button id="myBtn" onclick="myFunction()">Pause</button>
    </div>

    <script>
      var video = document.getElementById("myVideo");
      var btn = document.getElementById("myBtn");

      function myFunction() {
        if (video.paused) {
          video.play();
          btn.innerHTML = "Pause";
        } else {
          video.pause();
          btn.innerHTML = "Play";
        }
      }
    </script>
  </body>

</html>